In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("salesdata.csv") # read the csv file

In [4]:
# create the pivot table 
table=pd.pivot_table(data,index=["Region","Manager","SalesMan"], values="Sale_amt")

# show the table
print(table)

                               Sale_amt
Region  Manager SalesMan
Central Douglas John       41338.666667
        Hermann Luis       41274.600000
                Shelli      8424.500000
                Sigal      41679.166667
        Marth   Steven     14000.000000
        Martha  Steven     61896.666667
        Timothy David      28191.000000
East    Douglas Karen      16068.000000
        Martha  Alexander  29587.875000
                Diana      18050.000000
West    Douglas Michael    33418.000000
        Timothy Stephen    22015.750000

In [5]:
# create pivot table of item wise unit_sold 
unit_sold=pd.pivot_table(data,index=["Item"],values="Units",aggfunc=np.sum)

#print the table
print(unit_sold)

              Units
Item
Cell Phone      278
Desk             10
Home Theater    722
Television      716
Video Games     395